.top {
	background: #333333;
	border: none;
	padding : 5px;
}
.second {
	background: #D3D3D3;
	height: 32px;
	border-bottom-style : solid;
	border-top-style : solid;
	border-color : Teal;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-variant : small-caps;
	font-weight : bolder;
}

.spacer {
	color: Teal;
	font-weight: bolder;
}

A {
	 color: white;
	font-weight: bolder;
	text-decoration: none;
}
